PORT=3000
JWT_SECRET=change-me-en-dev
USER_SERVICE_URL=http://localhost:3001
QUESTION_SERVICE_URL=http://localhost:3002
ASSESSMENT_SERVICE_URL=http://localhost:3003
SUBMISSION_SERVICE_URL=http://localhost:3004
GRADING_SERVICE_URL=http://localhost:3005
